/.vs/WebTattoo/v16/.suo
/obj/Debug/WebTattoo.csproj.AssemblyReference.cache
/bin/WebTattoo.dll
/bin/WebTattoo.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/WebTattoo.csproj.CoreCompileInputs.cache
/obj/Debug/WebTattoo.dll
/obj/Debug/WebTattoo.pdb
/obj/Debug/WebTattoo.csproj.CoreCompileInputs.cache
/obj/Debug/WebTattoo.csproj.CoreCompileInputs.cache
/obj/Debug/WebTattoo.csproj.CoreCompileInputs.cache
/obj/Debug/WebTattoo.dll
/obj/Debug/WebTattoo.pdb
/WebTattoo.csproj.user
/obj/Debug/WebTattoo.csproj.FileListAbsolute.txt
/obj/Debug/WebTattoo.csproj.FileListAbsolute.txt
