@using WebTattoo.Models;
@{
    var Galleries = (List<GalleryModel>)ViewBag.HomeGallery ?? new List<GalleryModel>();
}
<section class="contact">
    <div class="bg-contact">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 pb-5 text-center">
                    <div class="box-inner">
                        <h2>Gallery</h2>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image1"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image2"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image3"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image4"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image5"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image6"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image7"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 py-3">
                    <div class="contact-images">
                        <div class="image8"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>