<section class="services">
    <div class="bg-services">
        <div class="overlay"></div>
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon-1-1.png" alt="" class="img-fluid" /></p>
                        <p>SIGNATURE PEDI & MANI FOR LUXURY SPA EXPERIENCE</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon-2-1.png" alt="" class="img-fluid" /></p>
                        <p>SAFE & HEALTHY NAIL CARE SERVICES</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 py-3">
                    <div class="box-inner">
                        <p><img src="~/Content/images/icon-3-1.png" alt="" class="img-fluid" /></p>
                        <p>COMPETITIVE PRICES AND A WIDE RANGE OF SERVICES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>