<section class="map">
    <iframe src="@ViewBag.LinkIFrameGoogleMap" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>