<section class="contact">
    <div class="bg-contact">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 pb-5 text-center">
                    <h2>Contact Us</h2>
                    <a class="btn btn-default btn-more" href="contact.html">VIEW MORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3 py-3">
                    <div class="contact-images">
                        <div class="image1"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 py-3">
                    <div class="contact-images">
                        <div class="image2"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 py-3">
                    <div class="contact-images">
                        <div class="image3"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 py-3">
                    <div class="contact-images">
                        <div class="image4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>