<section class="about-us">
    <div class="overlay"></div>
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-12 py-5">
                <div class="about-us-inner">
                    <div class="box-inner">
                        @Html.Raw(string.Format("{0}", ViewBag.AboutUs))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>