<section class="business-gift py-3 py-xl-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-6">
                <div class="business">
                    <div class="business-inner py-xl-5 my-1">
                        <div class="box-image">
                            <div class="image-business"></div>
                        </div>
                        <div class="box-inner">
                            <div class="text-center">
                                <h2>Business Hour</h2>
                                <div class="divider mb-3"></div>
                                @Html.Raw(string.Format("{0}", ViewBag.BusinessHours))
                                <a class="btn btn-default btn-more btn-border btn-border-black" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                    @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "Book Appointment" : "call us") <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="e-gift">
                    <div class="e-gift-inner py-xl-5 my-1">
                        <div class="box-image">
                            <div class="image-e-gift"></div>
                        </div>
                        <div class="box-inner">
                            <div class="text-center">
                                <h2>E-gift Purchase</h2>
                                <div class="divider mb-3"></div>
                                <a class="btn btn-default btn-more btn-border btn-border-black" href="e-gift.html">VIEW MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>