<div class="slider-banner">
    <div class="sliders">
        <div class="slider-1">
            <div class="box-slider">
                <div class="slider-image">
                    <img class="img-fluid" src="~/Content/images/banner/slider/pedicure.jpg" />
                </div>
                <div class="box-inner text-center">
                    <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">PEDICURE</h1>
                    <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                        <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-2">
            <div class="box-slider">
                <div class="slider-image">
                    <img class="img-fluid" src="~/Content/images/banner/slider/manicure.jpg" />
                </div>
                <div class="box-inner text-center">
                    <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">MANICURE</h1>
                    <div class="banner-button" data-animation-in="animate__animated animate__fadeInDown">
                        <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-3">
            <div class="box-slider">
                <div class="slider-image">
                    <img class="img-fluid" src="~/Content/images/banner/slider/eyelash_extensions.jpg" />
                </div>
                <div class="box-inner text-center">
                    <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">EYELASH EXTENSIONS</h1>
                    <div class="banner-button" data-animation-in="animate__animated animate__backInLeft">
                        <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-4">
            <div class="box-slider">
                <div class="slider-image">
                    <img class="img-fluid" src="~/Content/images/banner/slider/waxing.jpg" />
                </div>
                <div class="box-inner text-center">
                    <h1 class="font-Prata" data-animation-in="animate__animated animate__fadeInDown">WAXING</h1>
                    <div class="banner-button" data-animation-in="animate__animated animate__fadeInDown">
                        <a href="@ViewBag.HyperLinkTell" class="btn btn-default btn-call">Call Us <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>