<section class="slider-home">
    <div class="sliders">
        <div class="slider-1">
            <div class="box-image">
                <div class="image">
                    <div class="container-xl">
                        <div class="row justify-content-md-start justify-content-center">
                            <div class="col-xl-4 col-lg-5 col-md-6">
                                <div class="box-inner text-center py-4" data-animation-in="animate__animated animate__fadeInDown">
                                    <h1>WELCOME TO</h1>
                                    <h2 data-animation-in="animate__animated animate__pulse animate__infinite"><strong>@ViewBag.Name</strong></h2>
                                    <a class="btn btn-warning btn-theme btn-more btn-none-border" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                                        <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i> @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "APPOINTMENT" : "CALL US")
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="slider-2">
            <div class="box-image">
                <div class="image">
                    <div class="container-xl">
                        <div class="row justify-content-center">
                            <div class="col-xl-4 col-lg-5 col-md-8">
                                <div class="box-inner text-center py-5" data-animation-in="animate__animated animate__fadeInDown">
                                    <h1 class="font-Prata">Made For You</h1>
                                    <p>Famous Treatment For Nails Services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="slider-3">
            <div class="box-image">
                <div class="image">
                    <div class="container-xl">
                        <div class="row justify-content-center">
                            <div class="col-xl-4 col-lg-6 col-md-12">
                                <div class="box-inner text-center py-3" data-animation-in="animate__animated animate__fadeInDown">
                                    <h1 class="font-Prata" data-animation-in="animate__animated animate__pulse animate__infinite">Wellness And Spa</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="slider-4">
            <div class="box-image">
                <div class="image">
                    <div class="container-xl">
                        <div class="row justify-content-md-start justify-content-center">
                            <div class="col-xl-5 col-lg-6 col-md-7">
                                <div class="box-inner text-center py-5" data-animation-in="animate__animated animate__fadeInDown">
                                    <h1 class="font-Prata" data-animation-in="animate__animated animate__pulse animate__infinite">Desire meets nail ideas</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="slider-5">
            <div class="box-image">
                <div class="image">
                    <div class="container-xl">
                        <div class="row justify-content-lg-end justify-content-center">
                            <div class="col-xl-4 col-lg-5 col-md-6">
                                <div class="box-inner text-center py-1" data-animation-in="animate__animated animate__backInUp">
                                    <h1 class="font-Prata">SERVICES</h1>
                                    <p>Pedicure & Manicure</p>
                                    <p>Eyelash Extensions & Waxing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>