@{
    ViewBag.Title = "Price List";
    var Prices = (List<WebTattoo.Models.PricesModel>)ViewBag.Prices;
    Prices = Prices.Where(x => !string.IsNullOrEmpty(x.Src) && x.Status).ToList();
}
@section css{
    <link href="~/Content/css/page-prices.css" rel="stylesheet">
}
<main class="bg-main">
    <div class="overlay"></div>
    <div class="page-main">
        <section class="py-2 container">
            <div class="row justify-content-center">
                @if (Prices.Count > 0)
                {
                    foreach (var item in Prices)
                    {
                        <div class="col-lg-12 py-2">
                            <img class="img-fluid" src="@item.Src" alt="" />
                        </div>
                    }
                }
                else
                {
                    <div class="col-lg-12 py-2"></div>
                }
            </div>
        </section>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        ActiveMenu("menu-price-list");
    </script>
}