/*Footer*/
footer {
    border-top: 1px solid rgba(0,0,0,0.05);
    font-family: "PT Serif Caption";
    color: var(--color-white);
    background: var(--color-black);
    font-size: 15px;
}
footer .legend {
    color: var(--color-menu-legend);
}
footer a{
    color: var(--color-white);
    text-decoration: none;
}
footer .circle{
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
    background: #d93e2d;
    text-align: center;
    float:left;
    margin-right: 5px;
}
footer .circle span{
    color: var(--color-white);
    line-height: 35px;
}

.tel {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-text-theme);
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(2,2,2,0.28);
    border: 1px solid #FFFFFF;
}
.tel-withtext {
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 50px;
    padding: 5px;
    background: var(--color-text-theme);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(2,2,2,0.28);
    border: 1px solid #FFFFFF;
}

.booking {
    position: fixed;
    bottom: 65px;
    right: 5px;
    width: 50px;
    padding: 5px;
    background: var(--color-text-theme);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(2,2,2,0.28);
    border: 1px solid #FFFFFF;
}
.tel .fa{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 55px;
}

.tel-withtext a, .booking a, .tel-withtext .fa, .booking .fa {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 35px;
}

.tel-withtext a, .booking a {
    text-decoration: none;
}

.design-by{
    font-size: 13px;
}