main {

}
.page-main {
    position: relative;
}
.box-image {
    position: relative;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.box-image img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.box-text {
    padding: 10px;
    background-color: var(--color-yellow-pastle);
}
.box-text h2{
    font-family: Prata;
    font-weight: bold;
    font-size: 1.35em;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-black);
}
.divider {
    background-color: var(--color-black);
}
.page-main .row > [class*='col-'] {
    display: flex;
}
.page-main .box-inner {
    padding: var(--padding-box);
    background-color: var(--color-theme);
}