.page-main .box-inner {
    padding: var(--padding-box);
    background-color: var(--color-black);
    height: 344px;
}
.box-inner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.lb-data .lb-number {
    display: none !important;
}