main .container{
    min-height: 285px;
}
.bg-main {
    background-image: url(../images/price-list/bg-price-list.jpg);
    background-position: 50% 75%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.overlay {
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: 0;
}

.page-main {
    position: relative;
}
.card {
    background-color: rgba(235,235,235,0.7);
}