.slider-banner{
    width: 100%;
}

.slider-banner .banner{
    height: 800px;
    position: relative;
}
.slider-banner .banner .banner-one{
    filter: blur(5px);
}
.slider-banner .banner .banner-two{
    filter: blur(4px);
}
.slider-banner .banner .banner-three{
    filter: blur(3px);
}
.slider-banner .banner .banner-image{
    height: 800px;
}
.slider-banner .banner .banner-image img{
    object-fit:cover;
    position: absolute;
    top: -40%;
}
.slider-banner .banner .banner-detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, RGB(240,200,15) 0%,RGB(241,33,33) 100%);
}
.slider-banner .banner .banner-detail .container{
    width: 100%;
    max-width: 1180px;
    height: 680px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider-banner .banner .banner-detail .container .row, .slider-banner .banner .banner-detail .container .banner-detail-first,  .slider-banner .banner .banner-detail .container .banner-detail-last{
    display: flex;
    align-items: center;
    justify-content: start;
}
.slider-banner .banner .banner-detail .container .banner-detail-first{
    position: relative;
    height: 400px;
}
.slider-banner .banner .banner-detail .container .banner-detail-first .banner-text{
    width: 100%;
}

.slider-banner .banner .banner-detail .container .img-dot{
    position: absolute;
    right: 15px;
}
.slider-banner .banner .banner-detail .container .banner-title{
    font-family: 'Inter','Arial';
    color: #000000;
    font-size: 300%;
    text-shadow: 2px 2px 5px RGBA(255,255,255,1);
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.slider-banner .sliders{
    height: 800px;
}
.slider-banner .box-slider{
    width: 100%;
    height: 800px;
    position: relative;
    margin: 0 auto;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.slider-banner .slider-1 .box-slider{
    background: #ffffff;
}

.slider-banner .slider-2 .box-slider{
    background: #f9f7f8;
}

.slider-banner .slider-3 .box-slider{
    background: var(--color-yellow-pastle);
}

.slider-banner .slider-4 .box-slider{
    background: rgba(175,195,230,1);
}

.slider-banner .box-slider .image{
    width: 1000px;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    background-size: cover !important;
}

.slider-banner .slider-1 .box-slider .image{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 800px;
    background-image: url(../images/banner/slider/slider-1.jpg);
    background-position: 50% 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #ffffff;
}

.slider-banner .slider-2 .box-slider .image{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 800px;
    background-image: url(../images/banner/slider/slider-2.jpg);
    background-position: 50% 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slider-banner .slider-3 .box-slider .image{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 800px;
    background-image: url(../images/banner/slider/slider-3.jpg);
    background-position: 50% 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slider-banner .slider-4 .box-slider .image{
    background-image: url(../images/banner/slider/waxing.jpg);
    background-position: 50% 25%;
}

.slider-banner .box-slider .slider-image{
    text-align:center;
    width: 100%;
    z-index: 1;
    filter: blur(2px);
    opacity: .9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-banner .box-slider .slider-image img{
    width: 100%;
}

.slider-banner .box-slider .box-inner {
    width: 100%;
}

.slider-banner .box-slider .box-inner h1 {
    font-family: 'Inter','Arial';
    font-size: 36px;
    color: var(--color-black);
    text-shadow: 0px 0px 1px var(--color-black);
    font-weight: bold;
}
.slider-banner .slider-1 .box-slider .box-inner h1 {
    font-size: 42px;
    color: var(--color-white);
    text-shadow: 0px 0px 5px var(--color-black);
}
.slider-banner .slider-2 .box-slider .box-inner h1 {
    font-size: 42px;
    color: var(--color-white);
    text-shadow: 0px 0px 5px var(--color-black);
}
.slider-banner .slider-3 .box-slider .box-inner h1 {
    font-size: 42px;
    color: var(--color-white);
    text-shadow: 0px 0px 5px var(--color-black);
}